.indexContainer {
    background: #1282A2;
    color: #FEFCFB;
    width: calc(2.0vw + 180px + 2.0vw);
    height: 93vh;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    padding-left: calc(2.0vw + 5px);
    border-bottom: 1px solid #FEFCFB;
}

.header h2 {
    font-size: 20px;
}

.header button {
    color: #FEFCFB;
    font-size: 24px;
    padding: 1px 6px;
    border-radius: 100%;
    margin-right: 1vw;
}

.header button:hover {
    background: rgb(58, 148, 173);
    cursor: pointer;
}

.indexContainer ul {
    padding: 12px 0;
}

.indexContainer ul li {
    padding: 3px 0;
    padding-left: calc(2.0vw + 5px);
}

.indexContainer ul li:hover {
    background: rgb(58, 148, 173);
    cursor: pointer;
}