.indexContainer {
    background: #1282A2;
    color: #FEFCFB;
    width: calc(2.0vw + 180px + 2.0vw);
    height: 93vh;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    padding-left: calc(2.0vw + 5px);
    border-bottom: 1px solid #FEFCFB;
}

.header h2 {
    font-size: 20px;
}

.header button {
    color: #FEFCFB;
    font-size: 24px;
    padding: 1px 6px;
    border-radius: 100%;
    margin-right: 1vw;
}

.header button:hover {
    background: rgb(58, 148, 173);
    cursor: pointer;
}

.header div {
    position: relative;
}

.roomList {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
}

.roomList a {
    padding: 3px 0;
    padding-left: calc(2.0vw + 5px);
}

.roomList a:hover {
    background: rgb(58, 148, 173);
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 25px;
    width: 200px;
    background: #FEFCFB;
    color: black;
    box-shadow: 1px 2px 4px 0px #034078;
    border-radius: 4px;
}

.dropdown li {
    padding: 10px
}

.dropdown li:hover {
    background: #1282A2;
    color: #FEFCFB;
    cursor: pointer;
}

.active {
    background: rgb(58, 148, 173);
}