.messageIndex {
    height: calc(100% - (50px + 52px));
    overflow-y: scroll;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    height: 42px;
}

.message:hover {
    background: rgba(58, 148, 173, 0.1);
}

.message h4 {
    font-weight: bold;
    font-size: 18px;
}

.messageHeader {
    display: flex;
}

.messageHeader span {
    font-size: 10px;
    display: flex;
    align-items: flex-end;
    margin-left: 8px;
}