.header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background: #1282A2;
    padding: 3.5vh 0px;
    border-bottom: 1px solid #FEFCFB;
}

.header a {
    padding-left: 2.5vw;
}

.authButton {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FEFCFB;
    border: 1px solid #FEFCFB;
    padding: 12px 15px;
    border-radius: 5px;
    margin-right: 2.5vw;
}

.authButton:hover {
    background: rgb(58, 148, 173);
    cursor: pointer;
}